.App {
  text-align: center;
  height: 100vh;    
}

.Title {
  color: #b10bdf;  
}
.AddButton {
  margin: 10px;
  padding: 5px 15px;
  color: #52d7fc;
  background-color:#ffffff ;
  border: 3px #52d7fc solid;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
}
.AddButton:active{
  color: #ffffff;
  background-color: #52d7fc;  
}
.ListCards{        
  max-width: 1000px;     
  margin: auto;
  display: grid;  
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  border: 2px black solid;    
}

.Card{      
  margin: 20px;
  padding: 15px;
  border-radius: 2px;        
  font-size: 0.8rem;          
  transition-duration: 0.4s;    
  color: #999999;
  background-color: #ffffff;    
  border: 2px solid #52d7fc;
}

