.Card{         
    margin: 20px;
    padding: 20px;    
    border-radius: 2px;        
    font-size: 0.8rem;        
    height: 120px;    
    transition-duration: 0.4s;    
}
.Close {
    color: #ffffff;
    background-color: #52d7fc;    
    border: 2px solid #52d7fc;
}
.Open {
    color: #52d7fc;
    background-color: #ffffff;    
    border: 2px solid #52d7fc;
}
